body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.move-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  /* Write you code here */

}

.move-button:hover {
  /* Write you code here */

}




.problem_name {
    position: absolute;
    top: 1px;
    text-align: center;
  }
